* {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    box-sizing: border-box;
}
html,
body {
    font-size: 62.5%;
    font-family: "Noto Sans JP", sans-serif;
    color: #262626;
}
a {
    text-decoration: none;
    display: block;
}
span{
    display: inline-block;
}
img {
    display: block;
}
a:hover {
    opacity: 0.8;
    transition: all 0.5s;
}
.container {
    max-width: 1120px;
    margin: auto;
}
